html{
	font-family: serif;
}

body{
	text-align: center;
}

*{box-sizing: border-box;}

header{
	position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.logo{
	padding-top: 10px;
	float: left;
	font-size: 400%;
}
.logo a{
	text-decoration: none;
}

ul.navi{
border: solid;
background: #b0c4de;
padding: 15px 0px;
text-align: right;
}

ul.navi li{
	border: solid;
display: inline-block;
}

ul.navi li a{
display: block;
padding: 1em;
color: #fff;
text-decoration: none;
}

ul.navi a::first-line{
font-size: 16px;
font-weight: bold;
}

ul.navi li:hover{
	background: #f0f8ff;
}

main{
	margin-top: 100px;
	text-align: center;
	border: solid yellow;;
}

.home{
	padding-top: 60px;
}

section{
	margin-top: 300px;
	margin-bottom: 300px;
}

section a{
	padding: 100px;
}

footer{
	height: 500px;
	border: solid;
}